html,
body {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}

button {
    margin-right: 0.5rem;
    height: 1.5rem;
    min-width: 5rem;
    border-radius: 0.25rem;
    border: gray solid 1px;
}

input {
    line-height: 1rem;
    padding: 0.25rem;
    margin: 0;
}

.center {
    justify-content: center;
}

.container {
    width: 97%;
    display: block;
    margin: auto;
    max-width: 72rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background: white;
}

.panel {
    width: 40%;
    height: 90%;
}

.panel-tag {
    width: 100%;
    text-align: right;
}

.panel-group {
    flex-direction: column;
    border: gray solid 1px;
    border-radius: 0.5rem;
}

.label {
    display: inline-block;
    line-height: 1.5rem;
    width: 5rem;
    margin: 0;
}

.sep {
    height: 0.5rem;
}

.grow {
    flex-grow: 1;
}

.inline {
    display: inline-block;
}

.row {
    width: 95%;
    display: flex;
    margin: 0.5rem auto;
}

#board-container {
    width: 90vh;
    height: 90vh;
}

#board {
    width: 100%;
    display: block;
    margin: 0;
    background: black;
    border: gray solid 1px;
    border-radius: 0.5rem;
}
